
md-card {
	margin: 5% auto;
	padding: 2em 2em 2em 2em;
  width: 400px;
  height: 650px;
}
.signUpBtn{
  width:100px;
  height:40px;
  background-color: #283593;
  color: #ffffff;
  margin-top: 10px;
  margin-left: 120px;
}
.signUpBtn:focus{
  border: none;
}
input{
  margin-top: 30px;
}
md-input-container{
  width:330px;
}
.login-full-width {
  width: 100%;
}
h2{
  color: #283593;
  text-align: center;
}
.regFpwdSec{
  margin-top: 20px;
  text-align: center;
}
